*{
    margin:0;
    padding:0;
    font-family: Consolas, monospace;

}.banner{

    background-image: url("/imagenes/fondo1.jpg");
     background-size: cover;
     background-position:center;
     width:100%;
     height:100vh;
 }
 .content{
     width: 100%;
     position: absolute;
     top: 23%;
     transform: translateY(-50%);
     text-align: center;
 }
 .content h1{
     font-size: 50px;
     margin-top: 200px;
 }
.content p {
    font-size: 23px;
    margin-top: 4px;
    font-weight: 100;
    line-height: 33px;
}
button{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    font-weight: lighter;
    border: 2px solid #716141;
    cursor: pointer;
    background: #b8a275;
    position: relative;
    margin-top: 4.3em;

}
.button:hover,
.buttton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

.banner1{
    background: linear-gradient(to right, #A89261, #FFE3B1);
}



