*{
    margin:0;
    padding:0;
    font-family: Consolas, monospace;
    box-sizing: border-box;
     background: linear-gradient(to right,#716141, #b8a275);
            background-size: cover;

}
        .prac{
            background-image: url("imagenes/calle2.gif");
            background-color: #282834;
            margin-left: 425px;
        }
.banner{
    background-image: url("imagenes/fondo1.jpg");
     background-size: cover;
     background-position:center;
     width:100%;
     height:100vh;

 }
 .content{
     width: 100%;
     position: absolute;
     top: 23.7%;
     transform: translateY(-50%);
     text-align: center;
     line-height: 1.2

 }
 .content h1{
     font-size: 50px;
     margin-top: 175px;
 }
.content p {
    font-size: 23px;
    margin-top: 11px;
    font-weight: 100;
    line-height: 40px;
}
button{
    width: 100px;
    padding: 6px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: lighter;
    border: 2px solid #716141;
    cursor: pointer;
    background: #b8a275;
    position: relative;
    overflow: hidden;
    margin: 4.3em 10px 20px;
}
.button:hover,
.buttton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}
.boton2{
    width: 100px;
    padding: 6px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: lighter;
    border: 2px solid #716141;
    cursor: pointer;
    background: #b8a275;
    position: absolute;
    overflow: hidden;
    margin: 40% 80%;
}
.banner1{
    background-color: #AF9D79;
    width:100%;
    height:100vh;

}
.comojugar{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 4%;
    line-height: 1.1;

}
.clase{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #AF9D79;

}
.cuerpo{
    width: 100%;
    padding: 50px 100px;
}
.imagen{
    width: 45%;
    float: left;
}
.imagen img{
    width: 100%;
    height: auto;
}
.contenido{
    width: 49%;
    float: left;
    margin-left: 30px;
}

.contenido h1{
    font-size: 55px;
    letter-spacing: 2px;
    margin-top: 5%;
    margin-left: 33%;
}
.contenido p{
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-left: 15%;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .imagen {
        width: 100%;
        float: none;
    }

    .contenido {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .contenido h1 {
        font-size: 40px;
        text-align: center;

    }

    .contenido p {
        font-size: 20px;
    }
    .boton3{
        margin-top: 10px;
    }
}
.boton3{
    width: 100px;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: lighter;
    border: 2px solid #716141;
    cursor: pointer;
    background: #b8a275;
    position: absolute;
    letter-spacing: 2px;
    margin-top:  22%;

}
.boton3:hover,
.boton3:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
}

