body{
    text-align: center;
    font-family: Consolas, monospace;
    background: linear-gradient(to right, #282834, #20383d);
    background-image: url("imagenes/fondo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;




}
div{
    font-family: Consolas, monospace;
    font-size: 40px;
    margin: 15px;
    padding: 5px 20px;
    text-shadow: 1px 1px #999;

}
div.Titulo {
    font-family:Consolas, monospace;
    text-shadow: 1px 1px #999;
}
.subTitulo{
    font-family: Consolas, monospace;
    font-size: 40px;
    text-shadow: 1px 1px #999;
}
.boton{
    font-size: 50px;
    font-family:Consolas, monospace;
    background: darkgrey;
}
section.autos{
    column-count: 3;
}
.form-control{
    width: 150px;
    height: 25px;
}
.auto1{
    margin-left: 7em;
}
.auto3{
    margin-right: 7em;
}

section.fin{
    column-count: 2;
}
section.puntaje{
    column-count: 2;
}
.jugar{
    font-size: 30px;
}
.sonido{
     margin-left: 1350px;
 }
.audio{
    margin-left: 1200px;
}