body{
    text-align: center;
    font-family: Consolas, monospace;
    background: linear-gradient(to right, #282834, #20383d);
    background-image: url("imagenes/calle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    box-sizing: border-box;
    letter-spacing: 2px;
    }

div{
    font-family: Consolas, monospace;
    font-size: 170%;
    margin: 15px;
    padding: 5px 20px;
    text-shadow: 1px 1px #999;
}

div.Titulo {
    font-family:Consolas, monospace;
    text-shadow: 1px 1px #999;
}

.subTitulo{
    font-family: Consolas, monospace;
    font-size: 40px;
    text-shadow: 1px 1px #999;
}

.boton{
    width: 100px;
    padding: 8px 0;
    text-align: center;
    margin: 20px, 10px;
    border-radius: 5px;
    font-weight: lighter;
    border: 2px solid #716141;
    cursor: pointer;
    background: #b8a275;
    position: relative;
    overflow: hidden;
    margin-top: 4.3em;
    letter-spacing: 2px;

}
section.autos{
    column-count: 3;
}
.form-control{
    width: 150px;
    height: 25px;
}
.auto1{
    margin-left: 230px;
}
.auto3{
    margin-right: 230px;
}

section.fin{
    column-count: 2;
}
section.puntaje{
    column-count: 2;
}
.jugar{
    font-size: 30px;
}
.sonido{
     margin-left: 1350px;
 }
.audio{
    margin-left: 1200px;
}