body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #282834, #20383d);
    background-image: url("imagenes/calle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}
div{
    font-family: Consolas;
    font-size: 40px;
    margin: 15px;
    padding: 5px 20px;

}
div.Titulo {
    font-family: Consolas;
    text-shadow: 2px 2px #999;
}
.subTitulo{
    font-family: Consolas;
    font-size: 40px;
}
.boton{
    font-size: 50px;
    font-family: Consolas;
    background: #7c7878;
}
section.autos{
    column-count: 3;
}
.form-control{
    width: 150px;
    height: 25px;
}
.auto1{
    margin-left: 230px;
}
.auto3{
    margin-right: 230px;
}

section.fin{
    column-count: 2;
}
section.puntaje{
    column-count: 2;
}
.jugar{
    font-size: 30px;
}
.sonido{
     margin-left: 1350px;
 }
.audio{
    margin-left: 1200px;
}